</div>
<div class="d-flex justify-content-start w-100 align-items-center " id="presentation">
</div>
 <div class="d-flex justify-content-center">  <h5 class="presentation-text slide-left-delay-2">Une présence locale, une couverture nationale.
Basés à Marseille et Paris, nous accompagnons nos clients sur l’ensemble du territoire français.</h5>
    </div>